body {
    background-color: #2E3440;
    font-family: sans-serif;
}

h1 {
    color: #ECEFF4;
    text-align: center;
}

ul {
    color: #ECEFF4;
    display: table;
    margin: 0 auto;
    text-align: left;
}

img {
    height: auto;
    width: 250px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #81A1C1;
}

a:visited {
    color: #B48EAD;
}

a:hover {
    color: #ECEFF4;
}

a:active {
    color: #A3BE8C;
}